<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAefc0ANfB-D1u4YveBhpVFItkeddfjHIM"/>

        <activity
            android:name="Cliente.Pedidos.pedidos_finalizados"
            android:exported="false" />
        <activity
            android:name="Vendedor.Pedidos.detalles_pedido_vendedor"
            android:exported="false" />
        <activity
            android:name="Cliente.Pedidos.detalles_pedido"
            android:exported="false" />
        <activity
            android:name="Cliente.Pedidos.pedidos"
            android:exported="false" />
        <activity
            android:name="Chat.MainActivityChat"
            android:exported="false" />
        <activity
            android:name="Vendedor.Productos.editar_producto_form"
            android:exported="false" />
        <activity
            android:name="Vendedor.SolicitudesVendedores"
            android:exported="false" />
        <activity
            android:name="Vendedor.MainActivityEspera"
            android:exported="false" />
        <activity
            android:name="Vendedor.Productos.comprar_producto"
            android:exported="false" />
        <activity
            android:name="Vendedor.Productos.vista_producto"
            android:exported="false" />
        <activity
            android:name="Vendedor.Productos.productos_tienda"
            android:exported="false" />
        <activity
            android:name="Vendedor.Productos.agregar_producto"
            android:exported="false" />
        <activity
            android:name="Vendedor.Tiendas.EditarTiendaForm"
            android:exported="false" />
        <activity
            android:name="Perfil.Perfil_Activity"
            android:exported="false" />
        <activity
            android:name="Vendedor.Vendedor_Main"
            android:exported="false" />
        <activity
            android:name="Vendedor.Tiendas.Tiendas_Activity"
            android:exported="false" />
        <activity
            android:name="Vendedor.Activity_Vendedor"
            android:exported="false" />
        <activity
            android:name="Cliente.MenuPrincipal"
            android:exported="false" />
        <activity
            android:name="Cliente.Registro"
            android:exported="false" />
        <activity
            android:name="Cliente.Login"
            android:exported="false" />
        <activity
            android:name="Cliente.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Cliente.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>